.root {


}

.dateTimeRangeRoot {
  display: flex;
  > div > div:first-child {

  }
}


.btnGenerate {
  width: 150px;
  //margin: 10px 50%;
  &:hover {
    box-shadow: 0 0 0 1.5px rgb(255, 255, 255),
    0 0 0 3px #2F7D31;
  }
}

.container {
  display: flex;
  flex-direction: column;

  > * {
    margin-top: 5px;
  }
}
.dateTime {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  > div {
    display: flex;
    flex-direction: column;
  }
}